html {
  background-color:lemonchiffon;
  margin: auto;
  width: 85%;
}

/* Nav */
nav{
  margin: 5em;
  text-align: right;
}

nav a:nth-child(-n+1){
  background-color:palegreen;
}

nav a:link, nav a:visited{
  text-decoration: none;
}

nav a:hover{
  color: pink;
}

/* About Page */
.profile{
  max-height: 160px;
  border-radius: 60%;
}

/* Portfolio Page */

.logo{
  max-height: 50px;
}

.clients{
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

a img{
  height: 5em;;
}

.service{
  display: flex; 
  justify-content: space-around;
}

.service-description{
  max-height: 60px;
  max-width: 30%;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}